{% extends 'admin/AdminDashboard.html' %}

{% block content %}


<div class="content-wrapper pb-0">
<div class="row">
<div class="col-6 text-left">
<p class="iocn-img"><img src="/static/admin/assets/images/fork.svg" alt="img"> Users</p>
</div>
<div class="col-6 text-right bredrcum">
<a href="#">Dashboard</a>/ Topics
</div>
</div>



<div class="row usser-boxes">
<div class="col-sm-3 mb-5">
<div class="user-box">
<div class="head">Registerd</div>
<div class="ttoal-cnt">4,789</div>
</div>
</div>

<div class="col-sm-3 mb-5">
<div class="user-box purpel">
<div class="head">Subscribed</div>
<div class="ttoal-cnt">0</div>
</div>
</div>

<div class="col-sm-3 mb-5">
<div class="user-box green">
<div class="head">New<span>SINCE LAST LOGIN<span></div>
<div class="ttoal-cnt">64</div>
</div>
</div>

<div class="col-sm-3 mb-5">
<div class="user-box red">
<div class="head">Delete<span>SINCE LAST LOGIN<span></div>
<div class="ttoal-cnt">6</div>
</div>
</div>
</div>


<div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card ">
                <div class="card-body">
                    <div class="row mb-3 mt-2">
                        <div class="col-md-6 h3">Registerd User List ({{ users.count }})</div>
                        <div class="col-md-6" align="right">
						<a href="{% url 'admin_user_add' %}" class="text-white btn-add">Filter</a>
						
                        <a href="{% url 'admin_user_add' %}" class="text-white btn-add">Create New</a>
                           
						<a href="{% url 'admin_user_add' %}" class="text-white btn-add">Edit</a>
                            
                        <a href="{% url 'admin_user_add' %}" class="text-white btn-add">Delete</a>
                         
                        </div>
						
                    </div>
                    <div class="table-responsive mt-3">
                        <table class="table">
                            <thead class="table-dark">
                                <tr>
                                    <th>Sr.no</th>
                                    <th>Name</th>
                                    <th>Company Name</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Property</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for sin in users %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ sin.name }}</td>
                                    <td>{{ sin.company_name }}</td>
                                    <td>{{ sin.phone }}</td>
                                    <td>{{ sin.email }}</td>
                                    <td>
                                        <a href="{{ sin.property_id }}" class="btn btn-success">View Property</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
				
					<nav aria-label="Page navigation example">
					
  <ul class="pagination justify-content-end mt-3">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>

               </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<!--<script src="/static/admin/assets/scripts/index.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script>
    $(document).ready(function() {
        var csrfToken = "{{ csrf_token }}";
        $('.myButton').css('background-color', 'green');
    });
</script>
{% endblock %}