<div class="sidebar-inner">
    <ul>
        <li><a href="{% url 'how_it_works' %}"><img src="/static/images/ex.png" /><span>How it works  <i class="fas fa-chevron-right"></i></span></a></li>
        <li><a href="{% url 'help' %}"><img src="/static/images/qs.png" /><span>Help <i class="fas fa-chevron-right"></i></span></a></li>
        <li> <a href="{% url 'settings' %}"><img src="/static/images/st.png" /><span>Settings <i class="fas fa-chevron-right"></i></span></a></li>
        <li> <a href="{% url 'upload' %}"><img src="/static/images/upload.png" /><span>Upload <i class="fas fa-chevron-right"></i></span></a></li>
    </ul>

    <ul class="contact">
        <h4>Contact Us</h4>
        <!-- <li><a href="tel:+447869744225"><i class="fas fa-phone-alt"></i> +44 7869744225</a></li> -->
        <li><a href="mailto:info@filtertoscale.com"><i class="far fa-envelope"></i>info@filtertoscale.com</a></li>
    </ul>

<div class="home-btm"><a href="{% url '' %}"><i class="fas fa-home"></i></a></div>
</div>