{% extends 'admin/AdminDashboard.html' %}

{% block content %}
<div class="content-wrapper pb-0">
    <div class="page-header flex-wrap">
      <h3 class="mb-0"> welcome !!
         {% comment %} <span class="pl-0 h6 pl-sm-2 text-muted d-inline-block">Your web analytics dashboard template.</span> {% endcomment %}
      </h3>
     
    </div>
    
    
    <!--<div class="row">-->
    <!--  <div class="col-xl-4 col-md-6 grid-margin stretch-card">-->
    <!--    <div class="card card-invoice">-->
    <!--      <div class="card-body">-->
    <!--        <h4 class="card-title pb-3">Pending invoices</h4>-->
    <!--        <div class="list-card">-->
    <!--          <div class="row align-items-center">-->
    <!--            <div class="col-7 col-sm-8">-->
    <!--              <div class="row align-items-center">-->
    <!--                <div class="col-sm-4">-->
    <!--                  <img src="/static/admin/assets/images/faces/face2.jpg" alt="" />-->
    <!--                </div>sea-->
    <!--                <div class="col-sm-8 pr-0 pl-sm-0">-->
    <!--                  <span>06 Jan 2019</span>-->
    <!--                  <h6 class="mb-1 mb-sm-0">Isabel Cross</h6>-->
    <!--                </div>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--            <div class="col-5 col-sm-4">-->
    <!--              <div class="d-flex pt-1 align-items-center">-->
    <!--                <div class="reload-outer bg-info">-->
    <!--                  <i class="mdi mdi-reload"></i>-->
    <!--                </div>-->
    <!--                <div class="dropdown dropleft pl-1 pt-3">-->
    <!--                  <div id="dropdownMenuButton2" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">-->
    <!--                    <p><i class="mdi mdi-dots-vertical"></i></p>-->
    <!--                  </div>-->
    <!--                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">-->
    <!--                    <a class="dropdown-item" href="#">Sales</a>-->
    <!--                    <a class="dropdown-item" href="#">Track Invoice</a>-->
    <!--                    <a class="dropdown-item" href="#">Payment History</a>-->
    <!--                  </div>-->
    <!--                </div>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="list-card">-->
    <!--          <div class="row align-items-center">-->
    <!--            <div class="col-7 col-sm-8">-->
    <!--              <div class="row align-items-center">-->
    <!--                <div class="col-sm-4">-->
    <!--                  <img src="/static/admin/assets/images/faces/face3.jpg" alt="" />-->
    <!--                </div>-->
    <!--                <div class="col-sm-8 pr-0 pl-sm-0">-->
    <!--                  <span>18 Mar 2019</span>-->
    <!--                  <h6 class="mb-1 mb-sm-0">Carrie Parker</h6>-->
    <!--                </div>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--            <div class="col-5 col-sm-4">-->
    <!--              <div class="d-flex pt-1 align-items-center">-->
    <!--                <div class="reload-outer bg-primary">-->
    <!--                  <i class="mdi mdi-reload"></i>-->
    <!--                </div>-->
    <!--                <div class="dropdown dropleft pl-1 pt-3">-->
    <!--                  <div id="dropdownMenuButton3" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">-->
    <!--                    <p><i class="mdi mdi-dots-vertical"></i></p>-->
    <!--                  </div>-->
    <!--                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton3">-->
    <!--                    <a class="dropdown-item" href="#">Sales</a>-->
    <!--                    <a class="dropdown-item" href="#">Track Invoice</a>-->
    <!--                    <a class="dropdown-item" href="#">Payment History</a>-->
    <!--                  </div>-->
    <!--                </div>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="list-card">-->
    <!--          <div class="row align-items-center">-->
    <!--            <div class="col-7 col-sm-8">-->
    <!--              <div class="row align-items-center">-->
    <!--                <div class="col-sm-4">-->
    <!--                  <img src="/static/admin/assets/images/faces/face11.jpg" alt="" />-->
    <!--                </div>-->
    <!--                <div class="col-sm-8 pr-0 pl-sm-0">-->
    <!--                  <span>10 Apr 2019</span>-->
    <!--                  <h6 class="mb-1 mb-sm-0">Don Bennett</h6>-->
    <!--                </div>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--            <div class="col-5 col-sm-4">-->
    <!--              <div class="d-flex pt-1 align-items-center">-->
    <!--                <div class="reload-outer bg-warning">-->
    <!--                  <i class="mdi mdi-reload"></i>-->
    <!--                </div>-->
    <!--                <div class="dropdown dropleft pl-1 pt-3">-->
    <!--                  <div id="dropdownMenuButton4" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">-->
    <!--                    <p><i class="mdi mdi-dots-vertical"></i></p>-->
    <!--                  </div>-->
    <!--                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton4">-->
    <!--                    <a class="dropdown-item" href="#">Sales</a>-->
    <!--                    <a class="dropdown-item" href="#">Track Invoice</a>-->
    <!--                    <a class="dropdown-item" href="#">Payment History</a>-->
    <!--                  </div>-->
    <!--                </div>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="list-card">-->
    <!--          <div class="row align-items-center">-->
    <!--            <div class="col-7 col-sm-8">-->
    <!--              <div class="row align-items-center">-->
    <!--                <div class="col-sm-4">-->
    <!--                  <img src="/static/admin/assets/images/faces/face3.jpg" alt="" />-->
    <!--                </div>-->
    <!--                <div class="col-sm-8 pr-0 pl-sm-0">-->
    <!--                  <span>18 Mar 2019</span>-->
    <!--                  <h6 class="mb-1 mb-sm-0">Carrie Parker</h6>-->
    <!--                </div>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--            <div class="col-5 col-sm-4">-->
    <!--              <div class="d-flex pt-1 align-items-center">-->
    <!--                <div class="reload-outer bg-info">-->
    <!--                  <i class="mdi mdi-reload"></i>-->
    <!--                </div>-->
    <!--                <div class="dropdown dropleft pl-1 pt-3">-->
    <!--                  <div id="dropdownMenuButton5" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">-->
    <!--                    <p><i class="mdi mdi-dots-vertical"></i></p>-->
    <!--                  </div>-->
    <!--                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton5">-->
    <!--                    <a class="dropdown-item" href="#">Sales</a>-->
    <!--                    <a class="dropdown-item" href="#">Track Invoice</a>-->
    <!--                    <a class="dropdown-item" href="#">Payment History</a>-->
    <!--                  </div>-->
    <!--                </div>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--  <div class="col-xl-4 col-md-6 grid-margin stretch-card">-->
        <!--datepicker-->
    <!--    <div class="card">-->
    <!--      <div class="card-body">-->
    <!--        <div id="inline-datepicker" class="datepicker table-responsive"></div>-->
    <!--      </div>-->
    <!--    </div>-->
        <!--datepicker ends-->
    <!--  </div>-->
    <!--  <div class="col-xl-4 col-md-6 stretch-card grid-margin stretch-card">-->
        <!--browser stats-->
    <!--    <div class="card">-->
    <!--      <div class="card-body">-->
    <!--        <h4 class="card-title">Browser stats</h4>-->
    <!--        <div class="row py-2">-->
    <!--          <div class="col-sm-12">-->
    <!--            <div class="d-flex justify-content-between pb-3 border-bottom">-->
    <!--              <div>-->
    <!--                <img class="mr-2" src="/static/admin/assets/images/browser-logo/opera-logo.png" alt="" />-->
    <!--                <span class="p">opera mini</span>-->
    <!--              </div>-->
    <!--              <p class="mb-0">23%</p>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="row py-2">-->
    <!--          <div class="col-sm-12">-->
    <!--            <div class="d-flex justify-content-between pb-3 border-bottom">-->
    <!--              <div>-->
    <!--                <img class="mr-2" src="/static/admin/assets/images/browser-logo/safari-logo.png" alt="" />-->
    <!--                <span class="p">Safari</span>-->
    <!--              </div>-->
    <!--              <p class="mb-0">07%</p>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="row py-2">-->
    <!--          <div class="col-sm-12">-->
    <!--            <div class="d-flex justify-content-between pb-3 border-bottom">-->
    <!--              <div>-->
    <!--                <img class="mr-2" src="/static/admin/assets/images/browser-logo/chrome-logo.png" alt="" />-->
    <!--                <span class="p">Chrome</span>-->
    <!--              </div>-->
    <!--              <p class="mb-0">33%</p>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="row py-2">-->
    <!--          <div class="col-sm-12">-->
    <!--            <div class="d-flex justify-content-between pb-3 border-bottom">-->
    <!--              <div>-->
    <!--                <img class="mr-2" src="/static/admin/assets/images/browser-logo/firefox-logo.png" alt="" />-->
    <!--                <span class="p">Firefox</span>-->
    <!--              </div>-->
    <!--              <p class="mb-0">17%</p>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="row py-2">-->
    <!--          <div class="col-sm-12">-->
    <!--            <div class="d-flex justify-content-between">-->
    <!--              <div>-->
    <!--                <img class="mr-2" src="/static/admin/assets/images/browser-logo/explorer-logo.png" alt="" />-->
    <!--                <span class="p">Explorer</span>-->
    <!--              </div>-->
    <!--              <p class="mb-0">05%</p>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
        <!--browser stats ends-->
    <!--  </div>-->
    <!--</div>-->
</div>
{% endblock %}